html,
body {
    height: 100%;
    position: relative;
}

body {
    @extend %stem-500;
    font-size: 16px;
    line-height: 26px;
    color: $text;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.arrow-up {
    transition: 0.5s cubic-bezier(.25, .8, .25, 1) 0s;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../images/arrow-up-min.svg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &.arrow-up--active {
        bottom: 20px;
        transition: 0.5s linear;
    }

    &--active:hover {
        transform: scale(1.2);
    }
}

.title {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 1.94px;
    color: $accent;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        @extend %stem-300;
        margin-right: 27px;
        font-size: 13px;
        line-height: 22px;
        color: $title;
        cursor: pointer;

        &::after {
            content: "/";
            position: absolute;
            top: 0;
            right: -15px;
            color: #7D7D7D;
        }

        &:last-child::after {
            color: #7d7d7d;
            display: none;
        }
    }

    &__link {
        color: inherit;
    }
}


/* .btn {
    position: relative;
    padding: 12px 40px 12px 20px;
    background-color: $accent;
    border-radius: 100px;
    font-family: 'Montserrat-Regular';
    font-size: 13px;
    line-height: 40px;
    color: #1a1a1a;
    cursor: pointer;
}

.btn::after {
    position: absolute;
    content: url(../images/icons/arrow-back-btn.svg);
    top: 2px;
    right: 16px;
}

.img__scale {
    transition: all 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;

    & a {
        margin-left: 5px;
    }

    &__link {
        padding: 10px;
        background: #EDEDED;
        border-radius: 40px;
        font-size: 13px;
        color: $title;
        padding: 10px 20px;

        &--active {
            background-color: $accent;
            color: #FFFFFF;
        }

        &-more {
            position: relative;
            border: none;
            padding: 0 40px 0 20px;
            background-color: $accent;
            border-radius: 100px;
            @extend %montserrat-400;
            font-size: 13px;
            line-height: 40px;
            color: $title;
            cursor: pointer;

            &::after {
                position: absolute;
                content: url(../images/icons/arrow-down.svg);
                top: 0;
                right: 16px;
                width: 10px;
                height: 10px;
            }
        }

        &-next {
            padding: 10px;
            background: #EDEDED;
            border-radius: 40px;
            font-size: 13px;
            color: $title;
        }
    }
}

.anim__opas {
    animation-name: opas;
    animation-duration: 1.0s;
}

@keyframes opas {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

//SLICK-SLIDER

.top-slider__content .slick-slide,
.goods-content__slide-thumb .slick-slide,
.goods-content__slide-big .slick-slide {
    margin-left: 0;
}

.slick-slide {
    margin: 0 15px;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 150px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.slick-next {
    right: 0;
    opacity: 0;
}

.slick-prev {
    left: 0;
    opacity: 0;
}

.new-product__box:hover .slick-next,
.goods__box:hover .slick-next {
    right: -38px;
    transition: all .3s;
    opacity: 1;
}

.new-product__box:hover .slick-prev,
.goods__box:hover .slick-prev {
    left: -35px;
    transition: all .5s;
    opacity: 1;
} */