@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

.header {
    &__top {
        background: linear-gradient(90deg, $title, #4a4a4a);
        padding: 12px 0;

        &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-text {
            font-size: 17px;
            color: #FFFFFF;
            margin-left: 14px;
        }

        &-link {
            @extend %stem-300;
            border-left: 1px solid rgba(255, 255, 255, .2);
            padding: 0 0 0 15px;
            margin-left: 15px;
            font-size: 17px;
            color: rgba(255, 255, 255, 0.7);
            transition: all .3s;

            &:hover {
                color: #FFFFFF;
                transition: all .3s;
            }
        }
    }

    &__content {
        padding: 30px;
        background: rgba(255, 255, 255, .7);
        backdrop-filter: blur(8px);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

        &-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            gap: 75px;
        }

        &-cart {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 46px;
            border: 1px solid rgba(0, 0, 0, 0.15);
        }

        &-top {
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        &-title {
            display: block;
            @extend %stem-700;
            margin-left: 25px;
            font-size: 14px;
            line-height: 19px;
            color: $title;
        }

        &-subtitle,
        &-email {
            @extend %stem-300;
            font-size: 13px;
            line-height: 18px;
            color: $text;
        }

        &-item {
            position: relative;
        }

        &-icon {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.submenu {
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-item+.submenu-item {
        margin-left: 30px;
    }

    &-link {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: #FFFFFF;
            transition: all .3s;
        }
    }
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        font-size: 18px;
        line-height: 25px;
        color: #000000;

        &:hover {
            color: $accent;
            transition: all .3s;
        }

        &-btn {
            text-align: center;
            color: #FFFFFF;
            padding: 10px 81px;
            background: $accent;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            transition: all .3s;

            &:hover {
                transition: all .3s;
                background-color: $title;
                color: #FFFFFF;
            }
        }
    }
}

.search {
    padding: 12px 20px 12px 45px;
    width: 440px;
    height: 46px;
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    transition: all .3s;


    &::placeholder {
        @extend %stem-300;
        font-size: 13px;
        line-height: 14px;
        color: #adadad;
    }

    &:focus {
        background-color: #FFFFFF;
        border-color: transparent;
        box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
        transition: all .3s;
    }

    &-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 46px;
        top: 0;
        left: 0;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
}

/* MAIN */

.article-top {
    padding: 62px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        padding: 50px 0;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 47px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        margin-right: 50px;

        &:first-child {
            margin-right: 15px;
        }
    }

    &__img {
        border-radius: 50%;
    }

    &__title {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        opacity: .7;
    }

    &__subtitle {
        color: inherit;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 145px;
        height: 50px;
        border: 1px solid #adadad;
        transition: all .3s;
        margin-left: 10px;

        &:hover {
            transition: all .3s;
            border-color: rgba(0, 0, 0, .3);
            background: rgba(0, 0, 0, 0.05);
        }

        &:hover svg path {
            transition: all .3s;
            fill: transparent;
        }

        &:hover .article-top__post {
            transition: all .3s;
            display: block;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &__thumbnail {
        border-top: 5px solid $accent;
    }

    &__post {
        font-size: 14px;
        line-height: 26px;
        color: #57575A;
        display: none;
    }

    &__сontent {
        max-width: 900px;
        background: #fff;
        box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);

        &-inner {
            padding: 60px 60px 10px 60px;
        }

        &-info {
            padding-bottom: 20px;

            span {
                font-size: 15px;
                line-height: 24px;
                color: $text;
            }
        }

        &-posts-link {
            font-size: 15px;
            line-height: 24px;
            color: $accent;
        }

        &-text {
            @extend %stem-300;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 30px;
        }

        &-title {
            @extend %stem-500;
            font-size: 24px;
            line-height: 26px;
            color: $title;
            margin-bottom: 25px;
        }
    }

    &__tags {
        display: flex;
        border-bottom: 1px solid #d9d9da;
        padding-bottom: 50px;
        margin-bottom: 50px;

        &-link {
            margin-right: 5px;
            line-height: 1.6;
            border: 1px solid rgba(0, 0, 0, .1);
            padding: 4px 10px;
            color: $accent;

            &:hover {
                transition: all .3s;
                border: 1px solid $accent;
            }
        }
    }

    &__posts {
        &-list {
            display: flex;
            justify-content: space-between;
        }

        &-item {
            max-width: 240px;

            & time {
                font-size: 13px;
                line-height: 26px;
                color: $text;
            }
        }

        &-img {
            margin-bottom: 20px;
        }

        &-title {
            font-size: 16px;
            line-height: 21px;
            color: $title;
            margin-bottom: 10px;
        }
    }
}

.post-form {
    padding: 60px;
    background: linear-gradient(180deg, #ebebeb, #ffffff 100%);

    &__title {
        font-size: 24px;
        line-height: 26px;
        color: $title;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 30px;
    }

    &__cookies {
        display: flex;
        align-items: center;

        &-checkbox {
            margin: 40px 0;
        }
    }

    &__checkbox-text {
        font-size: 11px;
        line-height: 15px;
        color: $text;
        margin-left: 15px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        outline: none;
        width: 194px;
        height: 36px;
        border: none;
        border-bottom: 1px solid #adadad;
        background-color: transparent;
        padding-left: 10px;
        font-size: 13px;
        line-height: 26px;
        color: $text;
    }

    &__label {
        padding-bottom: 5px;
        font-size: 13px;
        line-height: 26px;
        color: $text;
        align-self: end;
        border-bottom: 1px solid #adadad;
    }

    &__textarea {
        outline: none;
        border: none;
        font-size: 13px;
        line-height: 30px;
        background-color: transparent;
        background-image: linear-gradient(rgba(0, 0, 0, .12) 1px, transparent 1px);
        background-size: 100% 30px;
        height: 61px;
        width: 100%;

        &-box {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        &-label {
            font-size: 13px;
            line-height: 26px;
            color: $text;
        }
    }

    &__submit {
        &-btn {
            width: 216px;
            height: 44px;
            background: $title;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            color: #FFFFFF;
            border: none;
            transition: all .3s;

            &:hover {
                transition: all .3s;
                background: $accent;
                cursor: pointer;
            }
        }
    }
}

.aside {
    position: relative;
    width: 300px;

    &__search {
        width: 300px;
        padding: 12px 45px 12px 20px;
        margin-bottom: 60px;

        &-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 46px;
            top: 0;
            right: 0;
            cursor: pointer;
            background-color: transparent;
            border: none;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        font-size: 15px;
        line-height: 26px;

        &:first-child {
            background: $title;
            color: #FFFFFF;
        }

        &:nth-child(even) {
            background: #F0F0F0;
        }
    }


    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 50px;
        background: $accent;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        color: #FFFFFF;
        margin-top: 60px;

        &:hover {
            transition: all .3s;
            background: $title;
        }
    }
}

/* FOOTER */

.footer {
    padding-top: 45px;
    border-top: 1px solid #d9d9da;

    &__banner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-img {
            background-image: url(../images/footer-banner.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 620px;
            height: 487px;
            margin-bottom: -40px;
        }

        &-content {
            align-self: end;
        }

        &-subtitle {
            font-size: 30px;
            line-height: 33px;
            color: $title;
            margin-bottom: 22px;
        }

        &-title {
            font-size: 70px;
            line-height: 77px;
            color: $accent;
            margin-bottom: 5px;
        }

        &-text {
            max-width: 400px;
            font-size: 17px;
            line-height: 26px;
            color: $text;
            margin-bottom: 45px;
        }

        &-box {
            display: flex;
            margin-bottom: 105px;
        }

        &-item {
            display: flex;
            align-items: center;
        }

        &-item+.footer__banner-item {
            margin-left: 110px;
        }

        &-descr {
            display: block;
            font-size: 14px;
            line-height: 22px;
            color: $title;
        }

        &-info {
            margin-left: 15px;
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            background: linear-gradient(135deg, #E9E9E9 20%, #B9BBBC 180%);
        }

        &-subdescr {
            font-size: 13px;
            line-height: 22px;
            color: $text;
        }

        &-email {
            margin-left: 10px;
            padding-left: 10px;
            height: 12px;
            border-left: 1px solid#d9d9da;
            font-size: 13px;
            line-height: 22px;
            color: $text;
        }
    }

    &__content {
        background: #F5F5F5;

        &-inner {
            padding: 60px 0;
            display: flex;
            justify-content: space-between;
        }

        &-item {
            padding-right: 80px;
            margin-bottom: 10px;
        }

        &-title {
            @extend %stem-700;
            text-transform: uppercase;
            color: $title;
            margin-bottom: 20px;
        }

        &-holder {
            display: flex;
        }

        &-link {
            font-size: 16px;
            line-height: 26px;
            color: $title;
            transition: all .3s;

            &:hover {
                color: $accent;
                transition: all .3s;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        background: #FFFFFF;
        padding: 20px 30px;
        font-size: 16px;
        border: none;
        width: 407px;
        height: 60px;
        box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        outline: none;

        &::placeholder {
            @extend %stem-300;
            font-size: 13px;
            line-height: 14px;
            color: #adadad;
        }

        &-btn {
            color: #FFFFFF;
            width: 407px;
            height: 60px;
            background: $title;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            border: none;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                transition: all .3s;
                background-color: $accent;
            }
        }
    }

    &__copy {
        border-top: 1px solid #d9d9da;
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
            font-size: 14px;
            line-height: 21px;
            color: $text;
        }

        &-box {
            width: 400px;
            display: flex;
            align-items: center;
        }

        &-social-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 46px;
            line-height: 46px;
            font-size: 16px;
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            background: linear-gradient(135deg, #E9E9E9 20%, #B9BBBC 180%);
            transition: all .3s;

            &:hover {
                transition: all .3s;
                transform: scale(1.1);
            }
        }

        &-social-link+.footer__copy-social-link {
            margin-left: 10px;
        }
    }
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';