@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */


.header {}

.header__inner {}

.header__top {
    background: linear-gradient(90deg, #2a2a2a, #4a4a4a);
    padding: 12px 0;

    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-text {
        font-size: 17px;
        color: #FFFFFF;
        margin-left: 14px;
    }

    &-link {
        @extend %stem-300;
        border-left: 1px solid rgba(255, 255, 255, .2);
        padding: 0 0 0 15px;
        margin-left: 15px;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.7);
        transition: all .3s;

        &:hover {
            color: #FFFFFF;
            transition: all .3s;
        }
    }
}

.submenu {
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-item+.submenu-item {
        margin-left: 30px;
    }

    &-link {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: #FFFFFF;
            transition: all .3s;
        }
    }
}

.header__content {
    padding: 30px;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(8px);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

    &-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    gap: 75px;
}

.header__content-cart {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.header__content-top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.search {
    position: relative;
    padding: 12px 20px 12px 45px;
    width: 440px;
    height: 46px;
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    transition: all .3s;


    &::placeholder {
        @extend %stem-300;
        font-size: 13px;
        line-height: 14px;
        color: #adadad;
    }

    &:focus {
        background-color: #fff;
        border-color: transparent;
        box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
        transition: all .3s;
    }

    &-icon {
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 10;
    }
}

.header__content-title {
    display: block;
    @extend %stem-700;
    margin-left: 25px;
    font-size: 14px;
    line-height: 19px;
    color: #2A2A2A;
}

.header__content-subtitle,
.header__content-email {
    @extend %stem-300;
    font-size: 13px;
    line-height: 18px;
    color: #57575A;
}

.header__content-item {
    position: relative;
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {}

    &__link {
        font-size: 18px;
        line-height: 25px;
        color: #000000;

        &:hover {
            color: $accent;
            transition: all .3s;
        }

        &-btn {
            text-align: center;
            color: #FFFFFF;
            padding: 10px 81px;
            color: #FFFFFF;
            background: $accent;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
            transition: all .3s;

            &:hover {
                transition: all .3s;
                background-color: #2A2A2A;
                color: #FFFFFF;
            }
        }
    }
}




/* FOOTER */

.footer {
    padding-top: 45px;
    border-top: 1px solid #d9d9da;
}

.footer__inner {}

.footer__banner {
    display: flex;
    justify-content: space-between;
}

.footer__banner-img {}

.footer__banner-content {}

.footer__banner-subtitle {
    font-size: 30px;
    line-height: 33px;
    color: #2A2A2A;
    margin-bottom: 22px;
}

.footer__banner-title {
    font-size: 70px;
    line-height: 77px;
    color: $accent;
    margin-bottom: 5px;
}

.footer__banner-text {
    max-width: 400px;
    font-size: 17px;
    line-height: 26px;
    color: #57575A;
    margin-bottom: 45px;
}

.footer__banner-box {
    display: flex;
    margin-bottom: 105px;
}

.footer__banner-item {
    margin-left: 64px;
}

.footer__banner-item+.footer__banner-item {
    margin-left: 110px;
}

.footer__banner-descr {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #2A2A2A;
}

.footer__banner-subdescr,
.footer__banner-email {
    font-size: 13px;
    line-height: 22px;
    color: #57575A;
}

.footer__banner-email {
    margin-left: 10px;
    padding-left: 10px;
    height: 12px;
    border-left: 1px solid#d9d9da;
}

.footer__content {
    background: #F5F5F5;
}

.footer__content-inner {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.footer__content-item {
    padding-right: 80px;
    margin-bottom: 10px;
}

.footer__content-title {
    @extend %stem-700;
    text-transform: uppercase;
    color: #2A2A2A;
    margin-bottom: 20px;
}

.footer__content-holder {
    display: flex;

}

.footer__content-list {}

.footer__content-link {
    font-size: 16px;
    line-height: 26px;
    color: #2A2A2A;
    transition: all .3s;

    &:hover {
        color: $accent;
        transition: all .3s;
    }
}


.footer__form {
    display: flex;
    flex-direction: column;
}

.footer__search {
    background: #FFFFFF;
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    width: 407px;
    height: 60px;
    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;


    &::placeholder {
        @extend %stem-300;
        font-size: 13px;
        line-height: 14px;
        color: #adadad;
    }
}

.footer__search-btn {
    color: #FFFFFF;
    width: 407px;
    height: 60px;
    background: #2A2A2A;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border: none;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        transition: all .3s;
        background-color: $accent;
    }
}

.footer__copy {
    border-top: 1px solid #d9d9da;
    padding: 60px 0;
    display: flex;
    align-items: center;

}

.footer__copy-text {
    font-size: 14px;
    line-height: 21px;
    color: #57575A;
}

.footer__copy-box {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.footer__copy-social-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #E9E9E9 20%, #B9BBBC 180%);
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 3px 6px #2A2A2A;
}

.footer__copy-social-link+.footer__copy-social-link {
    margin-left: 10px;
}








/* МЕДИА-ЗАПРОСЫ */
@import 'media';