@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

@font-face {
    font-family: 'Stem-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Stem-Bold'),
        url('../fonts/Stem-Bold.woff2') format('woff2'),
        url('../fonts/Stem-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Stem-Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Stem-Medium'),
        url('../fonts/Stem-Medium.woff2') format('woff2'),
        url('../fonts/Stem-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Stem-Light';
    font-style: normal;
    font-weight: 300;
    src: local('Stem-SemiLight'),
        url('../fonts/Stem-Light.woff2') format('woff2'),
        url('../fonts/Stem-Light.woff') format('woff');
    font-display: swap;
}

/* RESET */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a[class] {
    text-decoration: none;
}

/* GLOBAL */

html,
body {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Stem-Medium';
    font-size: 16px;
    line-height: 26px;
    color: #57575A;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.arrow-up {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(.25, .8, .25, 1) 0s;
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.arrow-up.arrow-up--active {
    bottom: 20px;
    transition: 0.5s linear;
}

.arrow-up--active:hover {
    transform: scale(1.2);
}

.title {
    font-family: 'Stem-Bold';
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 1.94px;
    color: #BB0A07;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    position: relative;
    font-family: 'Stem-Light';
    margin-right: 27px;
    font-size: 13px;
    line-height: 22px;
    color: #2A2A2A;
    cursor: pointer;
}

.breadcrumbs__item::after {
    content: "/";
    position: absolute;
    top: 0;
    right: -15px;
    color: #7D7D7D;
}

.breadcrumbs__item:last-child::after {
    color: #7d7d7d;
    display: none;
}

.breadcrumbs__link {
    color: inherit;
}

/* GRID */

.grid {
    width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(297px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.grid.header {
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 20px;
}

.grid.top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    padding: 40px 15px;
}

.logo {
    grid-area: 2 / 1 / 4 / 2;
}

.header__content-search {
    grid-area: 2 / 2 / 3 / 3;
}

.header__content-item-first {
    grid-area: 2 / 3 / 3 / 4;
}

.header__content-item-second {
    grid-area: 2 / 4 / 3 / 5;
}

.header__menu-btn {
    display: none;
}

.menu {
    display: grid;
    align-items: center;
    grid-area: 3 / 2 / 4 / 4;
}

.button {
    grid-area: 3 / 4 / 4 / 5;
}

.grid .content-grid {
    grid-template-rows: 1fr;
}

.breadcrumbs {
    display: grid;
    align-items: flex-start;
    grid-area: 1 / 1 / 2 / 5;
}

.article {
    grid-area: 2 / 1 / 3 / 4;
}

.aside {
    grid-area: 2 / 4 / 3 / 5;
}

.grid .footer {
    grid-template-rows: repeat(3, 1fr);
}

.footer__banner-img {
    grid-area: 1 / 1 / 2 / 3;
}

.footer__banner-content {
    grid-area: 1 / 3 / 2 / 5;
}

.footer__content-list-first {
    grid-area: 2 / 1 / 3 / 2;
}

.footer__content-list-second {
    grid-area: 2 / 2 / 3 / 3;
}

.footer__content-list-three {
    grid-area: 2 / 3 / 3 / 4;
}

.footer__content-items {
    grid-area: 2 / 4 / 3 / 5;
}

.footer__copy-text {
    grid-area: 3 / 1 / 4 / 2;
}

.footer__social {
    grid-area: 3 / 2 / 4 / 4;
}

.footer-arrow {
    display: grid;
    justify-content: end;
    align-items: center;
    grid-area: 3 / 4 / 4 / 5;
}

/* HEADER */

.header__top {
    background: linear-gradient(90deg, #2A2A2A, #4a4a4a);
    padding: 12px 0;
}

.header__top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-text {
    position: relative;
    font-size: 17px;
    color: #FFFFFF;
    padding-left: 40px;
}

.header__top-text:before {
    content: url(../images/defender.svg);
    width: 29px;
    height: 33px;
    position: absolute;
    top: -4px;
    left: 0;
}

.header__top-link {
    font-family: 'Stem-Light';
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7);
    transition: all .3s;
}

.header__top-link:hover {
    color: #FFFFFF;
    transition: all .3s;
}

.header__content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    gap: 75px;
}

.header__content-cart {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 46px;
    min-height: 46px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.header__content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__content-title {
    display: block;
    font-family: 'Stem-Bold';
    margin-left: 25px;
    font-size: 14px;
    line-height: 19px;
    color: #2A2A2A;
}

.header__content-subtitle,
.header__content-email {
    font-family: 'Stem-Light';
    font-size: 13px;
    line-height: 18px;
    color: #57575A;
}

.header__content-item,
.header__content-item-first {
    position: relative;
}

.header__content-icon {
    position: absolute;
    top: 0;
    left: 0;
}

.header__content-search {
    display: flex;
}

.header__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    padding: 10px 0px;
}

.submenu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu-item+.submenu-item {
    margin-left: 23px;
}

.submenu-link {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.submenu-link:hover {
    color: #FFFFFF;
    transition: all .3s;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.menu__link-btn {
    display: block;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 81px;
    background: #BB0A07;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: all .3s;
}

.menu__link-btn:hover {
    transition: all .3s;
    background-color: #2A2A2A;
    color: #FFFFFF;
}

.menu__link:hover {
    color: #BB0A07;
    transition: all .3s;
}

.search {
    padding: 12px 20px 12px 45px;
    width: 360px;
    height: 46px;
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    transition: all .3s;
}

.search::placeholder {
    font-family: 'Stem-Light';
    font-size: 13px;
    line-height: 14px;
    color: #adadad;
}

.search:focus {
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    transition: all .3s;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 46px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.06);
    border: none;
}

/* MAIN */

.article-top {
    padding: 62px 0;
}

.article-top__inner {
    padding: 50px 0;
}

.article-top__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
}

.article-top__list {
    display: flex;
    justify-content: space-between;
}

.article-top__item {
    margin-right: 50px;
}

.article-top__item:first-child {
    margin-right: 15px;
}

.article-top__img {
    border-radius: 50%;
}

.article-top__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    opacity: .7;
}

.article-top__subtitle {
    color: inherit;
}

.article-top__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.article-top__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 50px;
    border: 1px solid #adadad;
    transition: all .3s;
    margin-left: 10px;
}

.article-top__arrows:hover {
    transition: all .3s;
    border-color: rgba(0, 0, 0, .3);
    background: rgba(0, 0, 0, 0.05);
}

.article-top__arrows:hover svg path {
    transition: all .3s;
    fill: transparent;
}

.article-top__arrows:hover .article-top__post {
    transition: all .3s;
    display: block;
}

.article-top__arrows:first-child {
    margin-left: 0;
}

.article-top__main-img {
    width: 100%;
}

.article-top__thumbnail {
    border-top: 5px solid #BB0A07;
}

.article-top__post {
    font-size: 14px;
    line-height: 26px;
    color: #57575A;
    display: none;
}

.article-top__сontent {
    background: #fff;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}

.article-top__сontent-inner {
    padding: 60px 60px 10px 60px;
}

.article-top__сontent-info {
    padding-bottom: 20px;
}

.article-top__сontent-info span {
    font-size: 15px;
    line-height: 24px;
    color: #57575A;
}

.article-top__сontent-posts-link {
    font-size: 15px;
    line-height: 24px;
    color: #BB0A07;
}

.article-top__сontent-text {
    font-family: 'Stem-Light';
    margin-bottom: 30px;
}

.article-top__сontent-title {
    font-size: 24px;
    line-height: 26px;
    color: #2A2A2A;
    margin-bottom: 25px;
}

.article-top__tags {
    display: flex;
    border-bottom: 1px solid #d9d9da;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.article-top__tags-link {
    margin-right: 5px;
    line-height: 1.6;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 4px 10px;
    color: #BB0A07;
}

.article-top__tags-link:hover {
    transition: all .3s;
    border: 1px solid #3ad80a;
}

.article-top__posts-list {
    display: flex;
    justify-content: space-between;
}

.article-top__posts-title {
    font-size: 16px;
    line-height: 21px;
    color: #2A2A2A;
    margin-bottom: 10px;
}

.article-top__posts-img {
    margin-bottom: 20px;
}

.article-top__posts-item {
    max-width: 240px;

}

.article-top__posts-item time {
    font-size: 13px;
    line-height: 26px;
    color: #57575A;
}

.post-form {
    padding: 60px;
    background: linear-gradient(180deg, #ebebeb, #ffffff 100%);
}

.post-form__title {
    font-size: 24px;
    line-height: 26px;
    color: #2A2A2A;
    margin-bottom: 10px;
}

.post-form__subtitle {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 30px;
}

.post-form__cookies {
    display: flex;
    align-items: center;
}

.post-form__cookies-checkbox {
    margin: 40px 0;
}

.post-form__checkbox-text {
    font-size: 11px;
    line-height: 15px;
    color: #57575A;
    margin-left: 15px;
}

.post-form__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-form__input {
    outline: none;
    width: 194px;
    height: 36px;
    border: none;
    border-bottom: 1px solid #adadad;
    background-color: transparent;
    padding-left: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #57575A;
}

.post-form__label {
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 26px;
    color: #57575A;
    align-self: end;
    border-bottom: 1px solid #adadad;
}

.post-form__textarea {
    outline: none;
    border: none;
    font-size: 13px;
    line-height: 30px;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, .12) 1px, transparent 1px);
    background-size: 100% 30px;
    height: 61px;
    width: 100%;
}

.post-form__textarea-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-form__textarea-label {
    font-size: 13px;
    line-height: 26px;
    color: #57575A;
}

.post-form__submit-btn {
    width: 216px;
    height: 44px;
    background: #2A2A2A;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    border: none;
    transition: all .3s;
}

.post-form__submit-btn:hover {
    transition: all .3s;
    background: #BB0A07;
    cursor: pointer;
}

.aside__search {
    display: flex;
}

.aside__search-input {
    width: 100%;
    padding: 12px 45px 12px 20px;
    margin-bottom: 60px;
}

.aside__search-btn {
    background: rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border: none;
}

.aside__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-size: 15px;
    line-height: 26px;
}

.aside__item:first-child {
    background: #2A2A2A;
    color: #FFFFFF;
}

.aside__item:nth-child(even) {
    background: #F0F0F0;
}

.aside__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #BB0A07;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    margin-top: 60px;
}

.aside__btn:hover {
    transition: all .3s;
    background: #2A2A2A;
}

/* FOOTER */

.footer {
    padding-top: 45px;
}

.footer__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__banner-img {
    background-image: url(../images/e7e83477db0d98c696a6.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 620px;
    height: 487px;
    margin-bottom: -40px;
}

.footer__banner-content {
    align-self: end;
}

.footer__banner-subtitle {
    font-size: 30px;
    line-height: 33px;
    color: #2A2A2A;
    margin-bottom: 22px;
}

.footer__banner-title {
    font-size: 70px;
    line-height: 77px;
    color: #BB0A07;
    margin-bottom: 5px;
}

.footer__banner-text {
    max-width: 400px;
    font-size: 17px;
    line-height: 26px;
    color: #57575A;
    margin-bottom: 45px;
}

.footer__banner-box {
    display: flex;
    margin-bottom: 105px;
}

.footer__banner-item {
    display: flex;
    align-items: center;
}

.footer__banner-item:last-child {
    margin-left: 20px;
}

.footer__banner-descr {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #2A2A2A;
}

.footer__banner-info {
    margin-left: 15px;
}

.footer__banner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #E9E9E9 20%, #B9BBBC 180%);
}

.footer__banner-subdescr {
    font-size: 13px;
    line-height: 22px;
    color: #57575A;
}

.footer__banner-email {
    margin-left: 5px;
    padding-left: 5px;
    height: 12px;
    border-left: 1px solid#d9d9da;
    font-size: 13px;
    line-height: 22px;
    color: #57575A;
}

.footer__content-inner {
    display: flex;
    justify-content: space-between;
}

.footer__content-item {
    padding-right: 80px;
    margin-bottom: 10px;
}

.footer__content-title {
    font-family: 'Stem-Bold';
    text-transform: uppercase;
    color: #2A2A2A;
    margin-bottom: 20px;
}

.footer__content-holder {
    display: flex;
}

.footer__content-link {
    font-size: 16px;
    line-height: 26px;
    color: #2A2A2A;
    transition: all .3s;
}

.footer__content-link:hover {
    color: #BB0A07;
    transition: all .3s;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.footer__input {
    background: #FFFFFF;
    padding: 20px 30px;
    font-size: 16px;
    border: none;
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    outline: none;
}

.footer__input::placeholder {
    font-family: 'Stem-Light';
    font-size: 13px;
    line-height: 14px;
    color: #adadad;
}

.footer__input-btn {
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    background: #2A2A2A;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border: none;
    transition: all .3s;
    cursor: pointer;
}

.footer__input-btn:hover {
    transition: all .3s;
    background-color: #BB0A07;
}

.footer__input {
    font-size: 14px;
    line-height: 21px;
    color: #57575A;
}

.footer__copy-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    color: #57575A;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #E9E9E9 20%, #B9BBBC 180%);
    transition: all .3s;
}

.footer__social-link:hover {
    transition: all .3s;
    transform: scale(1.1);
}

.footer__social-link+.footer__social-link {
    margin-left: 10px;
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';